
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }
  body{
    @apply font-titillium;

  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1{
    @apply text-5xl mb-5; 
  }

  h2{
    @apply text-3xl mb-5; 
  }

  h3{
    @apply text-2xl mb-5; 
  }

  h4{
    @apply text-xl mb-5; 
  }

  h5{
    @apply text-lg mb-5; 
  }

  img {
    @apply block;
  }

}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto;
  }
  .btn {
    @apply p-2 border border-transparent flex gap-1 rounded-2xl transition-all items-center;
  }
  .btn:disabled {
    @apply pointer-events-none opacity-50
  }
  .btn-call{
    @apply bg-white text-black border-white hover:bg-transparent hover:text-white animate-pulse;
  }
  .btn-send {
    @apply bg-transparent border border-white text-white hover:bg-transparent hover:backdrop-blur-md hover:animate-pulse;
  }
.tooltip {
  @apply relative p-2 rounded-md transition-all hover:bg-transparent hover:text-white cursor-pointer;
}

.tooltip::before {
  @apply content-[attr(data-tooltip)] absolute top-full left-1/2 -translate-x-1/2 mt-2 p-1.5 bg-black bg-opacity-80 px-2.5 text-[10px] rounded-md text-white leading-none opacity-0 pointer-events-none transition-all z-30;
}

.tooltip::after {
  @apply content-[''] absolute top-full left-1/2 -translate-x-1/2 mt-[2px] w-0 h-0 border-l-[3px] border-r-[3px] border-t-[3px] border-l-transparent border-r-transparent border-t-black opacity-0 transition-all;
}

.tooltip:hover::before,
.tooltip:hover::after {
  @apply opacity-100;
}
.social li{
  @apply p-2 rounded-full transition-all hover:bg-white hover:text-black cursor-pointer;
}
.nav li{
  @apply cursor-pointer hover:italic;
}

.logos {
  @apply grid grid-cols-4 gap-10 mt-5 p-5 bg-white/10 rounded-md
}

}
@layer utilities {
  .center-all {
    @apply flex justify-center items-center;
  }
}